<div class="container text-center">
    <div class="row">
        <div class="col">
            <nav class="navbar bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand text-bg-primary" href="/">
                        Sistema de agendamentos
                    </a>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Home</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link" href="/cadastrar">Cadastrar</a>
                            <a class="nav-link" href="/consulta">Consultar</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-start fs-5">Bem-vindo ao sistema de agendamentos WEB</p>
            <p class="text-start fs-6">Implementação de um CRUD em NodeJs</p>
        </div>
    </div>
</div>